@page
@model GanjoorRandomPoemService.Pages.IndexModel
@{
    ViewData["Title"] = "خانه";
    ViewData["Url"] = "/";
}

<p>
    به کمک کدهای گنجور می‌توانید یک بیت شعر تصادفی به صفحات وبلاگ یا سایت خود اضافه کنید. بازدیدکنندگان سایت شما می‏توانند با کلیک بر روی نام شاعر در بلوک نمایش شعر، متن کامل شعر را در <a href="http://ganjoor.net">گنجور</a> بخوانند. برای اضافه کردن کد نمایش شعر به صفحات سایت یا وبلاگتان محل درج کد در قالب سایت یا وبلاگ خود را مشخص کنید. سپس یکی از قالبهای زیر را انتخاب، کپی و در محل مورد نظر درج نموده، قالب وبلاگ یا سایت خود را ذخیره کنید. توضیحات بیشتر را <a href="more">در این صفحه</a> بخوانید. فهرست نمونه سایتهایی را که از این امکان استفاده می‌کنند <a href="samplesites">در این صفحه</a> ببینید.
</p>
<p>
    قالب مورد نظر خود را انتخاب کنید:
</p>
<a href="http://c.ganjoor.net/theme1"><img src="img/30utv89.jpg" alt="بلوک با عرض منعطف و مصرعهای زیر هم" class="alignright" /></a>
<a href="http://c.ganjoor.net/samples"><img src="img/fuz8n6.jpg" alt="فال حافظ" class="alignright" /></a>
<a href="http://c.ganjoor.net/theme3"><img src="img/f5dsvo.jpg" alt="بلوک با عرض ثابت ۲۵۰ پیکسل تهیه شده با استفاده از تصاویر سایت پرسوپدیا نقطه کام" class="alignright" /></a>
<a href="http://c.ganjoor.net/theme5"><img src="img/2e1fa09.gif" alt="بلوک با عرض ثابت ۲۵۰ پیکسل بدون نمایش عنوان" class="alignright" /></a>
<a href="http://c.ganjoor.net/theme6"><img src="img/kniwj.jpg" alt="بلوک با عرض ثابت ۲۵۰ پیکسل و زمینه‏ی تذهیب" class="alignright" /></a>
<a href="http://c.ganjoor.net/theme4"><img src="img/5feu0g.gif" alt="بلوک با عرض ثابت ۲۵۰ پیکسل تهیه شده با استفاده از تصاویر سایت بولوب نقطه کام" class="alignright" /></a>
<a href="http://c.ganjoor.net/theme2"><img src="img/28r30wj.gif" alt="بلوک عریض با مصرعهای پله‏ای" class="alignright" /></a>
