@page
@model GanjoorRandomPoemService.Pages.MoreModel
@{
    ViewData["Title"] = "توضیح بیشتر";
    ViewData["Url"] = "/more";
}
<h2>کد شعر را کجا کپی کنیم؟</h2>
<p>
    این بستگی به نظر شما دارد. بعضیها دوست دارند شعر را در کنارۀ چپ یا راست وبلاگ یا سایتشان بگذارند. بعضی سرویسهای وبلاگنویسی امکانات خاصی برای آسان‌سازی این کار ارائه می‌کنند. مثلاً بلاگفا امکان درج کد را در کنارۀ وبلاگ از طریق عنوان «تنظیمات وبلاگ» در میزکارش فراهم می‌آورد.
</p>
<img src="img/blogfa-insert-code.jpg" alt="درج کد شعر از طریق میزکار بلاگفا" />
<p>
    کاربران بلاگفا می‌توانند برای مشاهدۀ راهنمای درج کد شعر در وبلاگهایشان <a href="http://ganjoor.blogfa.com">اینجا</a> را ببینند.
</p>
<p>
    مزیت کناره‌های وبلاگها آن است بیشتر در دیدرس قرار دارند و بازدیدکننده به سرعت شعر تصادفی را می‌بیند. اما معایبی نیز دارند و از آن جمله این که کناره‌های وبلاگها معمولاً اندازۀ محدودی دارند. از این رو نمی‌توان از قالبهای عریض مثل <a href="https://c.ganjoor.net/theme2">این</a> در آنها استفاده کرد. ضمن آن که ممکن است متن شعر تصادفی نیز باعث شود عرض بلوک شعر از حد معمول بیشتر شود و مشکلاتی برای قالب سایت یا وبلاگ ایجاد کند. مشکل دیگری که درج کد در کنارۀ وبلاگ ممکن است ایجاد کند آن است که در بسیاری از قالبها کنارۀ وبلاگ پیش از متن اصلی (قسمت میانی) بارگذاری می‌شود و به همین دلیل، ممکن است کندی یا مشکلات سایت ارائه‌کنندۀ کد شعر باعث شود سایت یا وبلاگ دیر باز شود. برای حل این مشکل می‌توانید از روش ارائه شده در صفحۀ <a href="optimize">بهینه‌سازی</a> استفاده کنید.
</p>
<p>
    جای دیگری که معمولاً می‌تواند مناسب درج کد شعر باشد پایین نوشته‌ها و مطالب است. نمونۀ آن را در پایین نوشته‌های وبلاگ تازه‌های گنجور به عنوان نمونه <a href="http://blog.ganjoor.net/1386/12/05/hello-world/">در این نوشته</a> ببینید.
</p>
<a href="http://blog.ganjoor.net/1386/12/05/hello-world/"><img src="img/bloganjoorcode.jpg" alt="بلوک شعر در پایین نوشته‌های وبلاگ" /></a>
<h2>اجزای کد شعر، نمایش شعر از شاعر خاص، نمایش دو بیت ...</h2>
<p>
    برای مشاهدۀ توضیحات مربوط به این گونه سؤالات بخش <a href="customize">بدلخواهسازی</a> را ببینید.
</p>

