@page
@model GanjoorRandomPoemService.Pages.OptimizeModel
@{
    ViewData["Title"] = "بهینه‌سازی";
    ViewData["Url"] = "/optimize";
}
<h2>گام اول : انتقال کدهای CSS به فایلهای css یا بلوک head</h2>
<p>
    کدهای CSS قالب انتخاب شده برای نمایش شعر، ثابتند و به صورت استاندارد باید در بلوک head صفحات HTML قرار گیرند. از این رو در صورتی که از سیستمهای مدیریت محتوایی مانند وردپرس استفاده می‌کنید این قسمت از کد نمایش شعر را که شامل کدهای مابین تگهای باز و بستۀ style می‌شوند به فایل css قالب وبلاگتان (در قالبهای وردپرس: style.css) منتقل کنید و برای سیستمهایی که کدهای CSS نمی‌توانند مستقل باشند آنها را به محل این کدها مابین تگهای باز و بستۀ head در قالب HTML صفحات منتقل کنید.
</p>
<h2>گام دوم : انتقال کدهای JavaScript به قبل از بسته شدن تگ body</h2>
<p>
    قسمت کند کد نمایش شعر بخش جاوا اسکریپت آن است که روی سرور کدهای گنجور اجرا می‌شود. برای این که سرعت اجرای این بخش را بالا ببرید می‌توانید با انتقال کد آن به آخرین نقطۀ صفحات HTML (قبل از بسته شدن تگ body) اثر این کندی را از بین ببرید.
</p>
<p>
    انجام این گام دو بخش دارد. در بخش اول در محل مشخص شده برای نمایش کد شعر گنجور چنین کدی را درج کنید:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="1" cols="120" style="direction:ltr;text-align:left;">
&lt;div id="ganjoorid"&gt;&lt;/div&gt;
</textarea>
</div>
<p>
    در کد فوق <em>ganjoorid</em> یک رشته‏ی دلخواه ولی منحصر به فرد در کد HTML صفحه است.
</p>
<p>
    در بخش دوم، کد (یا کدهای) جاوا اسکریپت نمایش شعر را در آخرین جای ممکن یعنی قبل از بسته شدن تگ body به صورت زیر درج کنید:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="1" cols="120" style="direction:ltr;text-align:left;">
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?block=ganjoorid"&gt;&lt;/script&gt;
</textarea>
</div>
<p>
    در صورت تمایل می‌توانید در جاهای مختلف با تعریف کدهای منحصر به فرد مختلف (<em>ganjoorid1</em>، <em>ganjoorid2</em> و ...) و تکرار بلوک بالا با عبارت <em>block=ganjoorid1</em> ، <em>block=ganjoorid2</em> و ... چندین بلوک نمایش شعر (البته با قالب یکسان داشته باشید).
</p>
<p>
    برای مشاهدۀ نحوۀ اعمال این بهینه‌سازیها می‌توانید نحوۀ درج کد نمایش شعر در وبلاگ <a href="http://blog.ganjoor.net/">تازه‌های گنجور</a> را با مشاهدۀ فایل css قالب آن در <a href="http://blog.ganjoor.net/wp-content/themes/whiteasmilk/style.css">این نشانی</a> و کد HTML یکی از نوشته‌های آن (مثلاً <a href="http://blog.ganjoor.net/1386/12/05/hello-world/">این نوشته</a>) از نظر بگذرانید. در این نمونه شناسۀ بلوک نمایش شعر <em>ganjoor-snipet</em> است.
</p>
<h2>بهینه‌سازی بیشتر</h2>
<p>
    تکه کد زیر -ارائه شده توسط آقای <a href="http://daryabdami.blogspot.com/">مصطفی صداقت‌جو</a>- به کار دوستانی می‌آید که تمایل دارند در زمان مورد نیاز برای فراخوانی اطلاعات از گنجور یک تصویر انتظار نشان دهند:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="33" cols="120" style="direction:ltr;text-align:left;">
&lt;script type="text/javascript"&gt;
function importScript(src, onload) {
    var head = document.getElementsByTagName("head")[0] || document.documentElement;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = false;
    script.src = src;
    script.onload = onload;
    head.insertBefore(script, head.firstChild);
}

function add_reload()
{
    /// add reload icon
    var ganjoor_footer = document.getElementsByClassName('ganjoor-poet');
    if(ganjoor_footer.length) {
        var reload = document.createElement('img');
        reload.src="http://3.bp.blogspot.com/-VyoRiLl6Q4A/VcZNCYuCmOI/AAAAAAAAC4A/LmKr0OBfyis/s1600/reload.png";
        reload.setAttribute("style", "float:left; cursor:pointer;");
        reload.setAttribute("onclick", "load_ganjoor()");        

        ganjoor_footer[0].appendChild(reload);
    }
}

function load_ganjoor()
{
    importScript('https://c.ganjoor.net/beyt.php?block=ganjoor', add_reload);    
}
load_ganjoor();    
&lt;/script&gt;

</textarea>
</div>

