@page
@model GanjoorRandomPoemService.Pages.ProgramModel
@{
    ViewData["Title"] = "برنامه‌نویسی";
    ViewData["Url"] = "/optimize";
}
<h2>خروجیهای XML و JSON برای شعرهای تصادفی</h2>
<p>
    علاوه بر کد جاوا اسکریپت، دو نوع خروجی دیگر با قالبهای XML و JSON نیز از طریق این سرور کدهای گنجور در دسترس قرار گرفته است که می‌تواند برای برنامه‌نویسان کارایی داشته باشد.
</p>
<p>
    نمونه کد XML:
</p>
<p style="direction:ltr;text-align:left">
    <a href="http://c.ganjoor.net/beyt-xml.php?n=10&#038;a=1&#038;p=2">http://c.ganjoor.net/beyt-xml.php?n=10&amp;a=1&amp;p=2</a>
</p>
<p>
    همچنان که در نمونه کد بالا مشاهده می‌کنید علاوه بر پارامترهای شاعر (p) و نمایش دو بیت (a) (که در <a href="customize">بخش بدلخواهسازی</a> راجع به آنها توضیح داده شده)، پارامتر دیگری (n) برای تعیین تعداد بیتهای مورد نیاز نیز در این کد در نظر گرفته شده است که حداکثر مقدار قابل قبول برای آن 20 است.
</p>
<p>
    نمونه کد JSON:
</p>
<p style="direction:ltr;text-align:left">
    <a href="http://c.ganjoor.net/beyt-json.php">http://c.ganjoor.net/beyt-json.php</a>
</p>
<p>
    که در کد JSON پارامترهای a و n تأثیر ندارد و تعداد بیتهای ظاهر شده در خروجی همواره یک بیت است.
</p>
<h2>استفاده از پایگاه داده‌های SQLite گنجور رومیزی</h2>
<p>
    راه دیگر پیش روی برنامه‌نویسان برای انواع کاربردهای مرتبط با نمایش شعر استفادۀ مستقیم از پایگاه داده‌های نرم‌افزار کدباز، آزاد و رایگان <a href="http://ganjoor.sourceforge.net/">گنجور رومیزی</a> است. پایگاه داده‌های این نرم‌افزار، در مسیر نصب آن قرار می‌گیرد و می‌توان آن را توسط ابزارهایی همانند <a href="http://sqlitebrowser.sourceforge.net/">این نرم‌افزار</a> باز کرد و از آن استفاده نمود.
</p>

