@page
@model GanjoorRandomPoemService.Pages.SamplesitesModel
@{
    ViewData["Title"] = "نمونه سایتها";
    ViewData["Url"] = "/samplesites";
}
<h2><a href="https://ganjoor.net/random/">بیت تصادفی در سایت گنجور</a></h2>
<p>
    <a href="https://ganjoor.net/random/">صفحۀ بیت تصادفی در سایت گنجور</a> به کمک کدهای نمایش شعر ساخته شده است.
</p>
<a href="https://ganjoor.net/random/"><img src="img/grandom.png" alt="بیت تصادفی در سایت گنجور" /></a>

<h2><a href="http://ramtina.com/1beyt/">رامتینا</a></h2>
<p>
    نمونه‌ای دیگر، <a href="http://ramtina.com/1beyt/">یک بیت شعر</a> در سایت رامتینا، <a href="http://ramtina.com/blog/?p=71">ساده و بدون هیچ توضیح اضافه</a> و ... زیبایی در سادگی است.
</p>
<a href="http://ramtina.com/1beyt/"><img src="img/ramtina.jpg" alt="رامتینا" /></a>

