@page
@model GanjoorRandomPoemService.Pages.SamplesModel
@{
    ViewData["Title"] = "نمونه‌ها";
    ViewData["Url"] = "/samples";
}

<p>
    فال حافظ، قالب ساده با حذف پیوند به گنجور (بدون رنگ زمینه و رنگ متن از پیش تنظیم شده):
</p>
<img src="https://c.ganjoor.net/img/fuz8n6.jpg" alt="فال حافظ، قالب ساده با حذف پیوند به گنجور" />
<p>
    کد قالب بالایی:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:100%;display:block;margin:auto;text-align:center;font:normal 12px tahoma;}
.ganjoor-block-title {display:block;width:100%;border-bottom:1px dotted #000;padding-top:4px;padding-bottom:4px;margin:0px;}
.ganjoor-poem-block{display:block;width:100%;margin-bottom:5px;}
.ganjoor-m1, .ganjoor-m2{width:100%; float:right;text-align:center;display:block;}
.ganjoor-footer{display:block;width:100%;padding-top:2px;padding-bottom:2px;}
.ganjoor-poet{display:none;}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript"&gt;ganjoorblocktitle = 'فال حافظ';&lt;/script&gt;
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=2"&gt;&lt;/script&gt;
</textarea>
</div>

<p>
    پندی از خیام:
</p>
<img src="https://c.ganjoor.net/img/f5dsvo.jpg" alt="پندی از خیام" />
<p>
    کد قالب بالایی:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:250px;display:block;margin:auto;text-align:center;background-image:url('https://c.ganjoor.net/t/3/t.gif');background-repeat: no-repeat;background-attachment:scroll;background-position:top;padding-top:99px}
.ganjoor-block-title{display:block;font:normal 13px tahoma;background-image:url('https://c.ganjoor.net/t/3/tm.gif');background-repeat: no-repeat;height:26px;padding-top:4px;margin:0px;}
.ganjoor-poem-block{display:block;width:100%;background-image:url('https://c.ganjoor.net/t/3/m.gif');background-repeat: repeat-y;padding-top:30px;}
.ganjoor-m1{width:100%;display:block;}
.ganjoor-m2{width:100%;display:block;}
.ganjoor-footer{display:block;width:100%;display:block;background-image:url('https://c.ganjoor.net/t/3/b.gif');background-repeat: no-repeat;background-attachment:scroll;background-position:100% 100%;}
.ganjoor-poet{width:80%;text-align:left;margin-bottom:10px;}
.ganjoor-poet a{text-decoration:none; color:#366}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript"&gt;ganjoorblocktitle = 'پندی از خیام';&lt;/script&gt;
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=3&amp;amp;a=1"&gt;&lt;/script&gt;
</textarea>
</div>

<p>
    دوبیتی تصادفی از باباطاهر:
</p>
<img src="https://c.ganjoor.net/img/1z1zmf6.gif" alt="دوبیتی تصادفی از باباطاهر" />
<p>
    کد قالب بالایی:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:250px;display:block;margin:auto;text-align:center;background-image:url(https://c.ganjoor.net/t/4/t.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:top;padding-top:17px;font:normal 12px tahoma;}
.ganjoor-block-title{display:none;}
.ganjoor-poem-block{display:block;width:100%;background-image:url(https://c.ganjoor.net/t/4/m.gif);background-repeat: repeat-y;padding-top:15px;}
.ganjoor-m1, .ganjoor-m2{width:100%;display:block;color:#fff}
.ganjoor-footer{display:block;width:100%;}
.ganjoor-poet{background-image:url(https://c.ganjoor.net/t/4/b.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:100% 100%;padding-top:24px;text-align:right;width:100%;text-align:center;}
.ganjoor-poet a{text-decoration:none; color:#C53F4C;margin-left:20px;display:block;}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=28&amp;amp;a=1"&gt;&lt;/script&gt;
</textarea>
</div>


<p>
    رباعی تصادفی از ابوسعید ابوالخیر:
</p>
<img src="https://c.ganjoor.net/img/2e1fa09.gif" alt="رباعی تصادفی از ابوسعید ابوالخیر" />
<p>
    کد قالب بالایی:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:250px;display:block;margin:auto;text-align:center;background-image:url(https://c.ganjoor.net/t/5/t.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:top;padding-top:187px;font:normal 12px tahoma;}
.ganjoor-block-title{display:none;}
.ganjoor-poem-block{display:block;width:100%;background-image:url(https://c.ganjoor.net/t/5/m.gif);background-repeat: repeat-y;padding-top:30px;}
.ganjoor-m1, .ganjoor-m2{width:100%;display:block;}
.ganjoor-footer{display:block;width:100%;background-image:url(https://c.ganjoor.net/t/5/b.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:100% 100%;}
.ganjoor-poet{width:100%;text-align:center;background-image:url(https://c.ganjoor.net/t/5/m.gif);background-repeat: repeat-y}
.ganjoor-poet a{text-decoration:none; color:#000}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=26&amp;amp;a=1"&gt;&lt;/script&gt;
</textarea>
</div>

<p>
    سخن عشق (دو بیتی تصادفی از باباطاهر عریان):
</p>
<img src="https://c.ganjoor.net/img/kniwj.jpg" alt="سخن عشق (دو بیتی تصادفی از باباطاهر عریان)" />
<p>
    کد قالب بالایی:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:250px;display:block;margin:auto;text-align:center;background-image:url(https://c.ganjoor.net/t/6/t.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:top;padding-top:122px;font:normal 12px tahoma;}
.ganjoor-block-title{display:block;margin-top: -50px; padding-bottom:32px;}
.ganjoor-poem-block{display:block;width:100%;background-image:url(https://c.ganjoor.net/t/6/m.gif);background-repeat: repeat-y;}
.ganjoor-m1, .ganjoor-m2{width:100%;display:block;}
.ganjoor-footer{display:block;width:100%;background-image:url(https://c.ganjoor.net/t/6/b.gif);background-repeat: no-repeat;background-attachment:scroll;background-position:100% 100%;}
.ganjoor-poet{width:80%;text-align:left;}
.ganjoor-poet a{text-decoration:none; color:#000}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript"&gt;ganjoorblocktitle = 'سخن عشق';&lt;/script&gt;
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=28&amp;amp;a=1"&gt;&lt;/script&gt;
</textarea>
</div>
