@page
@model GanjoorRandomPoemService.Pages.Theme2Model
@{
    ViewData["Title"] = "بدلخواهسازی";
    ViewData["Url"] = "/theme2";
}
<style type="text/css">
    .ganjoor-block {
        width: 500px;
        display: block;
        border: 2px solid #000;
        margin: auto;
        text-align: center;
        background-color: #fff;
        font: normal 12px tahoma;
    }

    .ganjoor-block-title {
        display: block;
        width: 100%;
        border-bottom: 1px dashed #000;
        background-color: #aaa;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0px;
    }

    .ganjoor-poem-block {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        background-color: #fff;
    }

    .ganjoor-m1 {
        width: 51%;
        float: right;
        text-align: left;
        display: block;
    }

    .ganjoor-m2 {
        width: 51%;
        float: left;
        text-align: right;
        display: block;
    }

    .ganjoor-footer {
        display: block;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
        border-top: 1px dashed #000;
        background-color: #aaa;
    }

    .ganjoor-poet {
        display: block;
        width: 50%;
        float: left;
        text-align: center;
    }

        .ganjoor-poet a {
            text-decoration: none;
            color: #000
        }
</style>
<p>
    این بلوک که دارای عرض ثابت ۵۰۰ پیکسلی است و به طور خودکار در میانه‏ی بلوک حاوی آن قرار می‏گیرد بیشتر برای درج در محدوده‏های عریض (بین مطالب وبلاگ یا اول یا آخر صفحه‏ی هر مطلب) کارایی دارد. نمونه‏ی نمایش یک تک بیت با این کد را می‏بینید:
</p>
<div id="takbeyt"></div>
<p>
    نمونه‏ی نمایش رباعی با این کد:
</p>
<div id="robaee"></div>
<p>
    برای بارگذاری مجدد صفحه با شعرهای تصادفی دیگر <a href="https://c.ganjoor.net/theme2">اینجا</a> کلیک کنید.
</p>
<p>
    برای درج در قالب وبلاگ -ابتدا از قالب کنونی خود پشتیبان بگیرید، محل درج را مشخص کنید و سپس- این کد را از جعبه‏ی متنی زیر کپی و در محل مناسب درج کنید:
</p>
<div style="width:100%;text-align:left">
<textarea class="inputTextarea" rows="13" cols="120" style="direction:ltr;text-align:left;">
&lt;style type="text/css"&gt;
.ganjoor-block{width:500px;display:block;border:2px solid #000;margin:auto;text-align:center;background-color:#fff;font:normal 12px tahoma;}
.ganjoor-block-title{display:block;width:100%;border-bottom:1px dashed #000;background-color:#aaa;padding-top:4px;padding-bottom:4px;margin:0px;}
.ganjoor-poem-block{display:block;width:100%;margin-bottom:5px;background-color:#fff;}
.ganjoor-m1{width:51%; float:right;text-align:left;display:block;}
.ganjoor-m2{width:51%; float:left;text-align:right;display:block;}
.ganjoor-footer{display:block;width:100%;padding-top:2px;padding-bottom:2px;border-top:1px dashed #000;background-color:#aaa;}
.ganjoor-poet{display:block;width:50%;float:left;text-align:center;}
.ganjoor-poet a{text-decoration:none; color:#000}
&lt;/style>
&lt;script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php"&gt;&lt;/script&gt;
</textarea>
</div>
<script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?block=takbeyt"></script>

<script type="text/javascript" language="JavaScript">ganjoorblocktitle = 'پندی از خیام';</script>
<script type="text/javascript" language="JavaScript" src="https://c.ganjoor.net/beyt.php?p=3&amp;a=1&amp;block=robaee"></script>



